@model IEnumerable<AdvancedProgramming.Data.Propiedad>

@{
    ViewBag.Title = "Properties";
}

<h2>Properties</h2>

<p>
    @Html.ActionLink("Create New Propertie", "Create", null, new { @class = "btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area_Construccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area_Terreno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado_Publicacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ubicacion.Provincia)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area_Construccion) m2
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area_Terreno) m2
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado_Publicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion.Provincia)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Properties", new { id = item.Propiedad_ID })" class="btn-circle btn-edit">
                    <span class="material-icons-outlined">edit</span>
                </a>
                <a href="@Url.Action("Details", "Properties", new { id = item.Propiedad_ID })" class="btn-circle btn-details">
                    <span class="material-icons-outlined">visibility</span>
                </a>

                @using (Html.BeginForm("Delete", "Properties", new { id = item.Propiedad_ID }, FormMethod.Post, new { @style = "display:inline" }))
                {
                    <button type="submit" class="btn-circle btn-delete">
                        <span class="material-icons-outlined">delete</span>
                    </button>
                }
            </td>

        </tr>
    }

</table>