﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="main-header">
        <div class="logo-title">
            <a href="dashboard.html"><img src="https://i.imgur.com/nmN7x14.png" alt="2CRRE Logo" /></a>
            <span class="title">2CRRE Docs</span>
        </div>
        <nav class="user-nav">
            <a href="#" id="userToggle">Admin</a>
        </nav>
    </header>



    <nav class="top-nav">
        @Html.ActionLink("Home", "Dashboard", "Home", null, new { @class = "nav-link" })
        @Html.ActionLink("Properties", "Index", "Properties", null, new { @class = "nav-link" })
        @Html.ActionLink("Expediente", "Index", "Expediente", null, new { @class = "nav-link" })
        @Html.ActionLink("Mapa", "Index", "Mapa", null, new { @class = "nav-link" })
        @Html.ActionLink("Chat", "Index", "Chat", null, new { @class = "nav-link" })
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @if (Session["UsuarioId"] != null)
    {
    @Html.Action("Widget", "Chat")
    }

</body>
</html>